
html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #121212;
  font-family: 'Montserrat', sans-serif;
}

.home {
  margin: 0;
  min-height: 100vh;
}

.navbar{
  height: 5rem;
  background-color: #080808;
}

.navbar-brand {
  color: #F2F2F2;
  font-weight: 500;
  font-size: 1.25rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.scrolling-active {
  background-color: #AAAAAA;
  transition: 1000ms;
  height: 3.5rem
}

.background-img {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-overlay {
  left: 50%;
  position: absolute;
  top: 30%;
  transform: translate(-50%);
  text-align: center;
  background-color: #bdbdbd80;
  width: 50vw;
  padding-bottom: 30px;
  border-radius: 10px;
}

.name {
  margin: 20px auto 0 auto;
  font-size: 4rem;
  color: #121212;
}

.description {
  margin-top: 0;
  font-size: 1.5em;
  color: #121212;
}

.about {
  min-height: 100vh;
  padding-top: 200px;
}

#profile {
  border-radius: 50%;
  justify-content: center;
}

.about-me {
  align-items: center;
  justify-content: flex-start;
}

.about-me-title {
  font-size: 50px;
}

.bio {
  font-size: 1.25rem;
  padding-top: 50px;
  color: #080808;
}

.work {
  min-height: 100vh;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #bdbdbd80;
}

.work-title {
  text-align: left;
}

.work-heading {
  font-size: 50px;
  padding-top: 50px;
}

.work-content {
  margin-top: 70px;
}

.card {
  height: 350px;
}

#card-container {
  color: #080808;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.skills {
  min-height: 100vh;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
}

.skills-heading {
  font-size: 50px;
  padding-top: 50px;
}

@media only screen and (min-width: 768px) {
  .card{
    width: 325px;
    margin: 30px 15px 0;
  }
}